:root {
    --cor-fundo: #fdf4ea;
    --cor-letra: #000000;
    --cor-sombra: rgba(0, 0, 0, 0.5);
    --cor-nav: #000000;
    --cor-navhover: #ff8300;
    --cor-navhover2: #1f1f1f;
    --cor-nav2: #000000;
    --cor-fundolaranja: #ff8300;
    --cor-link: #003392;
    --cor-data: #4d4d4d;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Sans-serif;
    transition: 0.3s;
}

.whatsapp-fixed{
    position: fixed;
    z-index: 10;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white !important;
    background-color: green;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-decoration: none;
}

.whatsapp-fixed a{
    color: white;
}

#whatsapp-contatos{
    position: relative !important;
    align-self: center;
    margin-top: 20px;
    right: 0;
}

.content p, .content h1, .content li, .content h4{
    color: var(--cor-letra);
}

nav{
    padding: 5px !important;
    background-color: black !important;
    box-shadow: 0 0 10px black;
}

nav .nav-link{
    color: white !important;
    border-radius: 10px;
    font-size: 14px !important;
}

nav .nav-link:hover, nav .nav-link.show{
    color: white !important;
    background-color: rgb(20, 20, 20);
}

.navbar-brand{
    padding: 0;
}

.navbar-brand img{
    width: 105px;
}

.navbar-toggler-icon{
    filter: brightness(10);
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    background-color: var(--cor-fundo);
    gap: 100px;
}


@media (max-width: 500px) {
    .content{
        padding: 50px 15px;
    }
}

#monteSeuPc{
    align-self: center;
    justify-self: center;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    background-color: #ff8300;
    border-radius: 20px;
    transition: 0.5s;
}

#monteSeuPc:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px black;
}

.img-top{
    background-position: center center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 17em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
}

.img-top-inicio{
    background-image: url(../imagens/inicio.jpg);
}
.img-top-monte{
    background-image: url(../imagens/monte.jpg);
}

.img-top-empresa{
    background-image: url(../imagens/empresa.jpg);
    background-position: center 80%;
}

.img-top-contato{
    background-image: url(../imagens/contato.jpg);
}

.img-top-sobre{
    background-image: url(../imagens/sobre.png);
}


.img-top-monte h2, .img-top-empresa h2, .img-top-contato h2, .img-top-sobre h2{
    font-size: 50px !important;
    color: #fff !important;
    position: relative;
    padding-bottom: 15px;
}

.img-top-monte h2::after, .img-top-empresa h2::after, .img-top-contato h2::after, .img-top-sobre h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centralize horizontalmente */
    width: 30%;
    height: 10px;
    background-color: #ff8300;
}

.img-top h2{
    color: #ff8300;
    font-weight: bold;
    text-shadow: 5px 5px 8px black;
}

.img-top p{
    margin: 0;
    color: #fff;
    text-shadow: 5px 5px 8px black;
}

.h1-inicio{
    position: relative;
    margin: 0 10px 10px !important;
    align-self: center;
    font-weight: 600;
    color: var(--cor-letra);
    
}

.h1-inicio::before{
    content: "";
    position: absolute;
    left: -85px;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    border-bottom: 5px solid #ff8300;
}

.h1-inicio::after{
    content: "";
    position: absolute;
    right: -85px;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    border-bottom: 5px solid #ff8300;
}

.card-geral{
    display: flex;
    flex-direction: column;
}

.card-geral h1{
    margin-bottom: 30px !important;
}

.cards-inicio{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.card-inicio{
    width: 220px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.card-inicio:hover{
    box-shadow: 0 0 30px var(--cor-sombra);
    transform: scale(1.05);
}

.card-computador:hover{
    height: 450.38px;
}

#card-celular:hover{
    height: 399.98px;
}

#card-redes:hover{
    height: 525.97px;
}

.card-inicio img{
    width: 150px;
    height: auto;
}

.card-inicio h4{
    font-size: 30px;
}

.card-inicio p{
    font-size: 16px;
}

.card-show{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-btn{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-letra);
    font-size: 25px;
    background-color: #ff8300;
}

.card-btn:hover{
    transform: scale(1.05);
}

.reversed-wrap{
    flex-wrap: wrap-reverse !important;
}

.reversed{
    flex-direction: row-reverse !important;
}

.invert-img{
    filter: invert(0%);
}

.topic{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 2000px;
    align-self: center;
}


@media (max-width: 1127px) {
    .text-bot{
        width: 500px !important;
    }
}

.topic-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    hyphens: auto;
}

.topic-text h1{
    font-size: 25px;
    font-weight: bold;
    hyphens: none;
}

.topic-text p{
    font-size: 16px;
}

.topic-text ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 20px;
    padding-left: 20px;
}

.topic-text ul li{
    transition: 0.5s;
}

.topic-text ul li:hover{
    text-decoration: underline;
    transform: scale(1.02);
}

.topic .img-inicio{
    width: 40%;
    border-radius: 20px;
    height: auto;
    transition: 0.5s;
}

.topic .img-monte{
    width: auto;
    max-width: 100%;
    border-radius: 20px;
    max-height: 500px;
    transition: 0.5s;
}

.topic img:hover{
    box-shadow: 0 0 10px black;
    transform: scale(1.02);
}

@media (max-width: 1016px) {
    .topic{
        gap: 10px;
    }

    .topic-text p{
        font-size: 16px;
    }

    .topic-text h1{
        font-size: 24px;
    }

    .topic .img-inicio{
        width: 100% !important;
    }

}

.text-bot{
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.whatsapp a{
    width: 50%;
    max-width: 400px;
    min-width: 200px;
}

.whatsapp img:hover{
    box-shadow: 0 0 10px black;
    transform: scale(1.02);
}

.whatsapp img{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    border-radius: 50px;
    transition: 0.5s;
}

.whatsapp i{
    font-size: 45px;
}

.content-contatos{
    padding: 50px 30px ;
}

.contatos-geral{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    justify-self: center;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contatos{
    width: 50%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 1099px) {
    .contatos{
        width: 90%;
    }
}

.contatos p{
    font-size: 16px;
}

.contato-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contato-redes #facebook-contatos{
    transition: 0.2s;
    text-decoration: none;
    color: #4664a5;
    font-size: 50px;
}

.contato-redes #a-instagram-contatos{
    transition: 0.2s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-redes #instagram-contatos{
    transition: 0.2s;
    text-decoration: none;
    width: 50px;
    height: auto;
}

.contato-redes #linkedin-contatos{
    transition: 0.2s;
    text-decoration: none;
    color: #026fab;
    font-size: 52px;
}

.contato-redes #facebook-contatos:hover{
    font-size: 53px;
}

.contato-redes #instagram-contatos:hover{
    width: 53px;
}

.contato-redes #linkedin-contatos:hover{
    font-size: 55px;
}

.mapa{
    width: 500px;
    max-height: 400px;
    display: flex;
    border-radius: 10px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:26.25%;
    position:relative;
    height:0;

}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (max-width: 1099px) {
    
    .map-responsive{
        padding-bottom:46.25%;
    }
}

.whatsapp-contatos{
    transform: scale(0.7);
}

.sobre-geral{
    hyphens: auto;
    display: flex;
    width: 90%;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

#sobre-content{
    display: flex;
}

.sobre-text{
    width: 50%;
}

.sobre-text p{
    font-size: 16px;
}

.sobre-text h1{
    font-size: 30px;
    font-weight: bold;
}

.sobre-img{
    height: auto;
    max-height: 100%;
    border-radius: 20px;
    max-width: 500px;
    transition: 0.5s;

}

.sobre-img:hover{
    box-shadow: 0 0 10px black;
    transform: scale(1.02);
}


@media (max-width: 1322px) {
    .sobre-text{
        width: 100%;
    }

    .sobre-geral{
        gap: 10px;
    }

    .sobre-img{
        width: 100%;
        max-width: 100%;
    }

    .content-sobre{
        padding: 50px 0;
    }
}

#footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    flex-wrap: wrap;
    text-align: center;
    background-color: #ff8300;
    margin: 0px;
    color: #000000;
    padding: 20px 50px;
    box-shadow: 0 0 10px black;
}

#contact_positions{
    display: flex;
    gap: 10px;
}

#footer_contacts h3{
    font-weight: bold;
    font-size: 30px;
}

#footer_contacts a{
    text-decoration: none;
    color: #000000;
    font-size: 40px;
    transition: 0.5s;
}

#footer_contacts #facebook:hover{
    text-decoration: none;
    color: #4664a5;
    font-size: 43px;
}

#footer_contacts #instagram:hover{
    font-size: 43px;
    text-decoration: none;
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#footer_contacts #whatsapp:hover{
    text-decoration: none;
    color: #007e00;
    font-size: 43px;
}

#footer_contacts #linkedin:hover{
    text-decoration: none;
    color: #026fab;
    font-size: 53px;
}

.footer_list h3{
    font-weight: bold;
    font-size: 30px;
}

.footer_link{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.footer_list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_list a{
    transition: 0.3s;
}

.footer_list a:hover{
    color: #ffffff;
}


#footer_bottom p{
    margin: 0;
    text-align: center;
}

#footer_bottom{
    background-color: #333333;
    margin: 0px;
    padding: 5px;
    color: #838383;
}

.dark-mode:hover{
    background-color: transparent !important;
}

.dark-mode .checkbox-dark-mode{
    opacity: 0;
    position: absolute;
}

.label-dark-mode{
    background-color: rgb(255, 255, 255);
    right: 39%;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 22px;
    width: 42px;
    transform: scale(1.3);
    margin-left: 10px;
    position: absolute;
    right: 20px;
    transition: 1s;
}

@media (max-width: 991px) {
    .label-dark-mode{
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(1.3);
        bottom: 10px;
    }
}

@media (max-width: 500px) {
    .label-dark-mode{
        margin: 0;
    }
}

.label-dark-mode .ball-dark-mode{
    background: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 18px;
    width: 18px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox-dark-mode:checked + .label-dark-mode .ball-dark-mode{
    transform: translateX(20px);
}

.label-dark-mode i{
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.contato-email form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contato-email form input{
    width: 300px;
    border-radius: 10px;
    border: solid 1px black;
    height: 30px;
    padding: 10px;
}

.contato-email form textarea{
    border-radius: 10px;
    border: solid 1px black;
    width: 500px;
    height: 100px;
    padding: 10px;
}

.contato-email form button{
    border-radius: 10px;
    border: 0;
    background-color: #ff8300;
    font-size: 20px;
    width: 200px;
}

@media (max-width: 560px) {
    .contato-email form textarea{
        width: 300px;
    }
}

@media (max-width: 500px) {
    .whatsapp-fixed{
        transform: scale(0.8);
    }

    .card-inicio{
        transform: scale(0.9);
    }
}

.avaliacao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    color: #ff8300 !important;
}

.avaliacao h1{
    color: #ff8300 !important;
    font-weight: 900;
    margin: 0 20px 0 0;

}

.media{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.media .media-estrelas, #media-h1, #total-av{
    margin: 0 20px 0 0;
}

#nome{
    width: 300px;
    border-radius: 13px;
    border: solid 1px black;
    padding: 5px;
}

.comentario{
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px;
}

.form-avaliacao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.form-avaliacao button{
    width: 100px;
    background-color: #ff8300;
    border-radius: 10px;
    padding: 3px;
    margin-right: 30px;
}

.form-avaliacao i{
    font-size: 20px;
}

.avaliacao-fim{
    display: flex;
    align-items: center;
}

/* Esconde os radio buttons padrão */
input[type="radio"] {
    display: none;
}

/* Estiliza as labels com ícones do FontAwesome */
label.fa-star {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
    cursor: pointer;
    color: #bbbbbb;
    transition: color 0.3s ease-in-out;
}

/* Quando um radio button estiver selecionado, muda a cor do ícone */
input[type="radio"]:checked + label.fa-star {
    color: #ff8300;
}

#avaliacoes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.avaliacoes{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 15px var(--cor-sombra);
    width: 100%;
}

.nome-p{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.avaliacao-p{
    font-size: 24px;
    color: var(--cor-letra) !important;
    margin: 0;
    hyphens: auto;
}

.data-p{
    margin: 0;
    color: var(--cor-data) !important;
    font-size: 12px;
}

.estrelas-p i{
    color: #ff8300;
}

.avaliacao-geral{
    justify-self: center;
    align-self: center;
    width: 50%;
}

@media (max-width: 1016px) {

    .avaliacao-geral{
        width: 90%;
    }

}

@media (max-width: 527px) {

    .avaliacao{
        flex-direction: column;
        gap: 0px;
    }

}

@media (max-width: 363px) {

    #nome{
        width: 100%;
    }

}

a[href="https://www.000webhost.com/?utm_source=000webhostapp&utm_campaign=000_logo&utm_medium=website&utm_content=footer_img"]{
    display: none;
}

.h1-servicos{
    font-weight: 600 !important;
    margin-bottom: 30px;
}

#banner{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
    background-image: url('../imagens/banner.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* Impede que a imagem seja repetida */
    background-position: center center; /* Alinha a imagem ao centro do elemento */
}


#banner img{
    width: 100%;
    height: auto;
}

.beneficios{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.beneficios h1{
    font-size: 38px;
    font-weight: 600;
    color: #ff8300;
}

.beneficios ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    list-style-type: none;
    padding-left: 20px;
}

.beneficios ul li::before{
    content: "\25B6"; /* Código Unicode para uma seta para a direita */
    color: #ff8300; /* Cor desejada (#ff8300) */
    margin-right: 5px; /* Espaço entre a seta e o texto da lista */
}

.beneficios ul p{
    font-size: 11px;
    margin-left: 24px;
}

.beneficios-img{
    max-width: 100%;
}

.resumo-cards{
    display: flex;
    gap: 20px;
    width: 620px;
    flex-wrap: wrap;
}

.resumo-card{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 20px;
}

.resumo-card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 30px var(--cor-sombra);
}

.resumo-card:hover h1{
    transform: scale(1.2);
    color: #ff8300;
}

.resumo-card img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.resumo-card .pelicula{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0.4;
}

.resumo-card h1{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.resumo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--cor-fundolaranja);
    padding: 50px 0;
    z-index: 1;
}

.resumo-text{
    width: 30%;
}

.resumo-text p{
    font-size: 20px;
    color: var(--cor-letra);
}

.resumo-text h1{
    font-size: 50px;
    font-weight: 600;
    color: var(--cor-letra);
}

.resumo-text h2{
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-letra);
}

@media (max-width: 1200px) {
    .resumo{
        flex-direction: column;
    }
    .resumo-text{
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .resumo-cards{
        width: 300px;
    }
}

.resumo-geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow:  0px 6px 15px 33px var(--cor-fundolaranja);
    background-color: var(--cor-fundolaranja);
}

.resumo-bottom{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resumo-info{
    width: 400px;
}

@media (max-width: 490px) {
    .resumo-info{
        width: 90%;
    }
}

.resumo-info h1{
    font-size: 30px;
    font-weight: 600;
    color: var(--cor-letra);
    margin: 0;
}

.resumo-info i{
    font-size: 50px;
    color: var(--cor-letra);
}

.resumo-info div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.resumo-info p{
    font-size: 22px;
    color: var(--cor-letra);
}

.resumo-info p a{
    color: var(--cor-link);
    font-weight: 600;
}

.manu-pc{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 50px;
    flex-wrap: wrap;
}

.manu-pc img{
    height: 500px;
    border-radius: 20px;
}

.manu img:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.manu-pc .manu-pc-text{
    width: 700px;
    color: var(--cor-letra);
}

.manu-pc .manu-pc-text h1{
    font-size: 40px;
    font-weight: 600;
}

.manu-pc .manu-pc-text p{
    font-size: 24px;
}

@media (max-width: 1349px) {
    .manu-pc-text{
        width: 90% !important;
    }
    .manu-pc img{
        width: 90%;
        height: auto;
    }
}

.manu-celular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.manu-celular-text{
    width: 1124px;
}

.manu-celular .manu-celular-text h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.manu-celular .manu-celular-text p{
    font-size: 24px;
}

.manu-celular-img{
    width: 400px;
    position: relative;
}

.manu-celular-img p{
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.manu-celular-img img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.manu-celular-img img:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.manu-celular .manu-celular-imgs{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.manu-celular-imgs i{
    font-size: 100px;
    color: var(--cor-letra);
}

@media (max-width: 1235px) {
    .manu-celular-text{
        width: 90%;
    }
    .manu-celular-imgs{
        flex-direction: column;
    }
    .manu-celular-img{
        width: 90%;
    }
    .manu-celular-imgs i{
        transform: rotate(90deg);
    }
}

.manu-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.manu-redes-text{
    width: 1124px;
}

.manu-redes .manu-redes-text h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.manu-redes .manu-redes-text p{
    font-size: 24px;
}

.manu-redes-img{
    width: 400px;
    position: relative;
}

.manu-redes-img p{
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.manu-redes-img img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.manu-redes-img img:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.manu-redes .manu-redes-imgs{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.manu-redes-imgs i{
    font-size: 100px;
    color: var(--cor-letra);
}

@media (max-width: 1235px) {
    .manu-redes-text{
        width: 90%;
    }
    .manu-redes-imgs{
        flex-direction: column;
    }
    .manu-redes-img{
        width: 90%;
    }
    .manu-redes-imgs i{
        transform: rotate(90deg);
    }
}